a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#info h4 a {
    color: red;
}

#info p a {
    color:red;
}

#info a#kva {
    color:blue;
}
#info a#kra {
    color:blue;
}
#info a#ksmf {
    color:blue;
}
#info a#akmf {
    color:blue;
}

#info a#lozka_second_p {
    color: blue;
}
#info a#muskat_p {
    color: blue;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
}


#government2 {
    background-color: rgb(218, 218, 218);
    border-radius: 20px;
    padding: 10px;
}

#info2 {
    background-color: rgb(218, 218, 218);
    border-radius: 20px;
}


footer {
    padding-top: 50vh;
}
footer p {
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
}
